/* SecretaryDashBoard.css */

.dashboard-containerS {
  display: flex;
  /* You can add more layout styles if needed */
}

.sidebarS {
  margin-top: 20px;
  width: 280px;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 98vh; /* or auto if you prefer */
  background-color: #9C284F; /* secretary style background color */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarS p {
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

/* Remove default list styles and spacing */
.sidebarS ul {
  list-style: none;
  padding: 0;
  width: 100%; /* full width for list items */
}

.sidebarS li {

  padding: 15px 18px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  text-align: left;
  transition: all 0.3s ease;
}

/* Hover and active styles for list items */
.sidebarS li:hover,
.sidebarS li.active {
  border: 1.5px solid #921A40;
  background-color: #921A40;
  color: black;
}

/* Style the buttons inside list items */
.sidebarS button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Style icons inside buttons */
.sidebarS button svg {
  margin-right: 8px;
  font-size: 20px; /* adjust icon size as needed */
}