
 .villager-list-container p{
    color: #9C284F;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 28px;
  }
  
  .villager-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .villager-table th, .villager-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .villager-table th {
    background-color: #9C284F;
    color: white;
  }
  
  .view-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .view-btn:hover {
    background-color: #218838;
  }
  