
  body {
    font-family: Arial, sans-serif;
  }
  
  .containerA {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .left-column {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .right-column {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .support-image {
    width: 100%;
    height: auto;
  }
  
  .card-english,
  .card-sinhala,
  .card-tamil {
    background-color: #fcf6f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px; /* Adjusted height for combined content */
    overflow-y: auto; /* Allow scrolling if content overflows */
  }
  
  .card-english h3,
  .card-sinhala h3,
  .card-tamil h3 {
    margin-bottom: 10px;
    color: #C75B7A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .card-english p,
  .card-sinhala p,
  .card-tamil p {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .support-actions {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .back-button {
    background-color:#7a1632;
    color: white;
  }
  
  .back-button:hover {
    background-color: #C75B7A;
  }
  
  @media (max-width: 768px) {
    .left-column,
    .right-column {
      width: 100%;
    }
  }