/* Sidebar */
.sidebarV {
  margin-top: 50px;
  width: 300px;
  background-color: #9C284F;
  color: white;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 185vh;
}

.sidebarV p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  
}

/* List styling for navigation */
.sidebarV ul {
  list-style: none;
  padding: 0;
  color: white;
}

.sidebarV ul li {
  margin: 15px 0;
  padding: 12px 20px;
  cursor: pointer;
  background-color: #921A40;
  border-radius: 5px;
  text-align: center;
}

.sidebarV ul li:hover {
  background-color: #C75B7A;
}

.sidebarV ul li button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

/* Content area */
.dashboard-containerV {
  display: flex;
}

.contentV {
  margin-left: 270px; 
  padding: 20px;
  flex: 1;
}
