
.page-layout {
  display: flex; 
  min-height: auto; 
  padding-bottom: 200px;
}


.villager-list-container {
  flex-grow: 1;
  padding: 20px; 
  background: #f8f9fa; /* Keep background */
  border-radius: 10px; /* Keep border-radius */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Keep box-shadow */
  /* text-align: center; */ /* Remove or adjust if you want left-aligned text */
}

/* Styles for the paragraph heading */
.villager-list-container p {
  color: #9C284F;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
  /* text-align: left; */ /* Add this if you removed text-align: center from the container */
}

/* Styles for the table */
.villager-table {
  width: 100%; /* Make the table fill the container width */
  border-collapse: collapse;
  
}

.villager-table th,
.villager-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.villager-table th {
  background-color: #9C284F;
  color: white;
}

/* Styles for the view button */
.view-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.view-btn:hover {
  background-color: #218838;
}