body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9fbfa;
  }
  
  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-password-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }
  
  .input-field {
    margin-bottom: 20px;
  }
  
  .input-field label {
    display: block;
    color: black;
    margin-bottom: 5px;
  }
  
  .input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dadacd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .input-field input:focus {
    border-color: #921940;
    outline: none;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #921940;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #7a1632;
  }
  